canvas{
    border: 2px solid #ccc;
}

body{
    display: flex;
    justify-content: center;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}